
.addAlbumFormContainer{
    width: 80%;
    margin: auto;
    height: 150px;
    padding: 1.5% 5%;
    border-radius: 12px;
    box-shadow: 0px 0px 4px -2px black;
    background-color: rgb(242, 242, 242);
}

.AlbumHeading{
    font-size: 1.8rem;
    font-weight: bold;
}

.addAlbumForm{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.addAlbumInput{
    width: 60%;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.3rem;
}

.buttons{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 70px ;
    height: 35px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
}